[Unit]
Description=tmux session for git-ci (bb_hardware)

[Service]
EnvironmentFile=%h/.config/git-ci.environment
Environment=name=stackpad-4
Environment=session_name=${name}.git-ci
Environment=session_file=/tmp/bb_hardware
ExecStart=/usr/bin/tmux \
	new -s ${session_name} \
	&& echo ${session_name} > ${session_file}
ExecStop=/usr/bin/tmux \
	kill-session -t ${session_name} \
	&& echo "" > ${session_file}

[Install]
WantedBy=multi-user.target
Conflicts=${bb_hardware}
